*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(67, 67, 102);
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar img{
    position: relative;
    height: 60px;
    width: 100px;
    right: 73%;
}
.navbar input{
    height: 35px;
    width: 200px;
    margin-right: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.9s;
}
.navbar input:hover{
    background-color: rgb(198, 198, 205);
}
.container{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movieCards{
    height: 700px;
    width: 400px;
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

}
.movieCards:hover{
    box-shadow: 4px 4px 4px 4px lightblue;
    width: 397px;
    background-color: rgb(115, 116, 118);
}
.movieCards img{
height: 300px;
width: 100%;
border-radius: 10px;
}
.movieCards h2{
    color: white;
}
.movieCards p{
    color: white;
    font-size: 15px;
    width: 350px;
}
.rating{
    color: white;
    font-size: 22px;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: rgb(67, 67, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}